body {
  font-family: sans-serif;

  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 61px 100px 30px;
}
a {
  text-decoration: none;
}

.page-header {
  flex-wrap: nowrap;
}

.page-logo {
  font-size: 80px;
  line-height: 94px;
  color: #000000;
  margin-top: 0;
}
.page-logo span {
  color: #4bcaff;
}

.header-menu {
  align-items: center;
  background-color: #35444f;
  margin-top: 38px;
  margin-bottom: 50px;

  list-style: none;
  display: flex;
  justify-content: center;
}
.header-menu-item {
  border-left: 1px solid #ffffff;
  display: flex;
  align-items: center;
}
.header-menu-item:hover {
  background-color: #222f3a;
}

.header-menu-link {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  padding: 26px 38px 19px;
}

.container {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.container-sidebar {
  display: flex;
  flex-direction: column;
  width: 344px;
  height: 399px;
  border: 1px solid #000000;
}
.container-sidebar-item {
  list-style: none;
  height: 81px;
  align-items: center;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 44px;
  transition: 0.5s;
}
.container-sidebar-item:hover {
  background-color: #dbdbdb;
}

.container-sidebar-link {
  color: #495863;
  font-size: 27px;
  line-height: 27px;
  transition: 0.1s;
}
.container-sidebar-link:hover {
  color: #35444f;
  padding-left: 25px;
}

.container-content {
  width: 885px;
}

.container-top {
  height: 529px;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-top-image {
  width: 320px;
  height: 381px;
  transition: 1s;
}
.container-top-image:hover {
  transform: scale(1.1);
}

.container-description {
  margin-top: 37px;
  margin-bottom: 54px;
}

.container-description-text + .container-description-text {
  margin-top: 34px;
}
.container-description-text {
  color: #2c2c2c;
  font-size: 18px;
  line-height: 24px;
}

.page-footer {
  background-color: rgba(99, 105, 110, 0.48);
  display: flex;
  justify-content: space-between;
  height: 69px;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.footer-menu {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  width: 928px;
  padding-left: 0;
  margin-top: 24px;
}

.footer-menu-link {
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}
.footer-menu-link:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
  /* padding-bottom: 8px; */
  padding-bottom: 5px;
}

.copyright {
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}
